<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: rgb(255, 255, 255);">
    <li class="breadcrumb-item">
      <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px; color: #004C8C; "></i><a href="/set">Home
        &#160;</a>
      <i class="fa-solid fa-chevron-right"></i>
    </li>

    <li class=" active" style="color: #004C8C;" aria-current="page"><a href="/set/allcomplaintsmain">

        &#160;Customer Complaints&#160;</a></li>
    <li class=" active" style="color: #3BB161;" aria-current="page">
      <i class="fa-solid fa-chevron-right"></i>&#160;Add Customer Complaints&#160;
    </li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="page-content">
        <div class="row ">
          <div class="col-md-6 col-6 ">
            <!-- class="fw-bold" -->
            <b>
              <h5 style="color: #004C8C;  margin-top: -5px;">Customer Complaints</h5>
            </b>
          </div>
          <div class="col-md-6 col-6 text-end ">
            <button type="button" routerLink="/set/allcomplaintsmain" style="border-radius: 20px; margin-top: -10px;" class="btn btn-info">
              View All Complaints
            </button>
          </div>
        </div>


        <div class="container mt-2" style="background-color: #fff; border-radius: 5px;">
          <div class="row">
            <form [formGroup]="complianceForm" class="col-md-12 col-sm-12 col-xs-12 mt-5">

              <div class="form-group row " style="margin-top: -26px;">
                <div class="col-md-6 col-lg-6 col-xl-6 col-12">
                  <div class="form-floating ml-2  mb-2">
                    <select class="form-select" formControlName="accountNo" [(ngModel)]="addComplaints.accountNo"
                      id="status">
                      <option value="">Select Customer</option>
                      <option *ngFor="let data of allCust" [value]="data.accountNo">{{ data.companyName }}
                      </option>

                    </select>
                    <label for="accountNo" class="col-lg-2 col-4 control-label">Customer Name</label>
                  </div>

                  <div class="form-floating  mb-2">
                    <textarea class="form-control" id="address" rows="3" [(ngModel)]="addComplaints.description"
                      placeholder="Description" formControlName="description" required> </textarea>
                    <label for="description" class="col-lg-2 col-4 control-label">Description</label>
                  </div>

                </div>

                <div class="col-md-6 col-lg-6 col-xl-6 col-12">

                  <div class="form-floating  mb-2">
                    <textarea class="form-control" id="address" rows="3" [(ngModel)]="addComplaints.subject"
                      placeholder="Subject" formControlName="subject" required> </textarea>
                    <label for="subject" class="col-lg-2 col-4   col-form-label mr-5">Subject </label>
                  </div>
                </div>
              </div>

              <div class="text-center align-middle">
                <button class="btn-info  m-lg-4 m-4 w-25" style="height: 40px; border-radius: 2rem;"
                  (click)="onSubmit()" type="submit">
                  <i class="ace-icon fa fa-check bigger-110"></i>
                  Submit
                </button>

                <button class="btn-info m-lg-4 m-4 w-25" style="height: 40px; border-radius: 2rem;">
                  <i class="ace-icon fa fa-undo bigger-110"></i>
                  Reset
                </button>
              </div>


              <!-- <div class="text-center mt-5">
                <button type="button" class="btn btn-info  m-lg-4 m-4" (click)="onSubmit()"><i
                    class="ace-icon fa fa-check bigger-110"></i>
                  Submit</button>
                <button type="button" class="btn canc m-lg-4 m-4">
                  <i class="ace-icon fa fa-undo bigger-110"></i>
                  Reset
                </button>
              </div> -->


            </form>

          </div>

        </div>
      </div>