<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: rgb(255, 255, 255);">
        <li class="breadcrumb-item">
            <i class="ace-icon fa fa-home home-icon " style="margin-right: 10px; color: #004C8C; "></i><a
                href="/set">Home&#160;</a>
            <i class="fa-solid fa-chevron-right"></i>
        </li>

        <li class=" active" style="color: #004C8C;" aria-current="page"><a href="/set/">
                &#160;My Account&#160;</a></li>
        <li class=" active" style="color: #3BB161;" aria-current="page">
            <i class="fa-solid fa-chevron-right"></i>&#160;Change Password&#160;
        </li>
    </ol>
</nav>


<div class="container">
    <div class="row">
        <div class="col">

            <div class="page-content">
                <div class="page-header">
                    <b>
                        <h5 style="color: #004C8C; margin-top: -5px;">
                            Change Password
                        </h5>
                    </b>
                </div>
                <!-- complianceForm -->

                <form [formGroup]="complianceForm" class="col-md-12 col-sm-12 col-xs-12 mt-2"
                    style="background-color: #fff; border-radius: 5px; padding: 20px;">

                    <div class="form-group row offset-lg-3">
                        <div class="col-lg-6 col-xl-6 col-12">
                            <div class="form-floating ml-2  mb-2">
                                <input type="text" formControlName="complianceDueDate" [(ngModel)]="passwords.oldPass"
                                    placeholder="Current Password" class="form-control" id="complianceDueDate">
                                <label for="complianceDueDate" class="col-lg-2 col-4 control-label">Current
                                    Password</label>
                            </div>


                            <div class="form-floating ml-2  mb-2">
                                <input type="text" formControlName="complianceDueDate" [(ngModel)]="passwords.password"
                                    placeholder="New Password" class="form-control" id="complianceDueDate">
                                <label for="complianceDueDate" class="col-lg-2 col-4 control-label">New
                                    Password</label>
                            </div>


                            <div class="form-floating ml-2  mb-2">
                                <input type="text" formControlName="complianceDueDate" [(ngModel)]="confirmPassword"
                                    placeholder="Confirm Password" class="form-control" id="complianceDueDate">
                                <label for="complianceDueDate" class="col-lg-2 col-4 control-label">Confirm
                                    Password</label>
                            </div>

                            <div class="text-center mt- align-middle">
                                <button class="btn-info  m-lg-4 m-4 w-26" style="height: 40px; border-radius: 2rem; padding: 10px 30px 10px;"
                                    (click)="onSubmit()" type="submit" >
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Submit
                                </button>

                                <button class="btn-info m-lg-4 m-4 w-26" style="height: 40px; border-radius: 2rem; padding: 10px 30px 10px;">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div>


                        <!-- 
                        <div class="clearfix form-actions col-md-12 col-sm-12 col-xs-12 mt-5">
                            <div class="col-sm-offset-3 col-md-9">
                                <button type="button" class="btn btn-info p-2  m-lg-4 m-4" (click)="onSubmit()"><i
                                        class="ace-icon fa fa-check bigger-110"></i>
                                    Submit</button>
                                <button type="button" class="btn canc p-2 m-lg-4 m-4">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Reset
                                </button>
                            </div>
                        </div> -->


                    </div>
                    <!-- </div> -->
                </form>

            </div>